.image {
	height: 270px;
	background-image: url(./semako.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	color: white;
	text-align: center;
}

h2 {
	margin-top: 10px;
}
h4 {
	transform: translateY(-15px);
	font-size: 12px;
	color: bisque;
	font-weight: 200;
}

.link {
	color: white;
	display: block;
	transform: translateY(-30px);
	font-size: 12px;
	text-decoration: none;
}

a {
	font-size: 12px;
	text-decoration: none;
	color: white;
}

button {
    cursor:pointer;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: none;
	border-radius: 10px;
	width: 117px;
	height: 35px;
}

.linkedin {
	background-color: #4688ea;
}

.grid {
	margin-top: -20px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
}

.icon {
	margin: 5px;
	height: 16px;
	width: 16px;
}
