.about-main{
    margin-top: 20px;
    color:white;
}

h3{
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
    font-size: 15px;
}
p{
    text-indent: 10px;
    text-align: justify;
    margin: 0px 10px;
    font-size: 12px;
    font-weight: 300;
}

ul{
    margin: 0px;
    margin-left:-15px;
}

li{
    text-align: start;
    font-size: 12px;
    list-style: none;
    font-weight: 300;
}