.footer{
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 19px 19px;
    background-color: #000207;
    height: 50px;
    width: 270px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content:center;
    align-items: center;
}

.footer-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:5px;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    background: linear-gradient(rgb(56, 56, 56), rgb(23, 23, 23));
}